@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes buttonPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(59, 130, 246, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
  }
}

@keyframes dangerPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(239, 68, 68, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
  }
}

@keyframes successPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(16, 185, 129, 0);
  }
  
  100% {
    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0);
  }
}

div[data-button-variant="danger"]:hover {
  animation: dangerPulse 1.5s infinite;
}

div[data-button-variant="success"]:hover {
  animation: successPulse 1.5s infinite;
}

div[data-button-variant="info"]:hover {
  animation: buttonPulse 1.5s infinite;
}

div[data-button-variant="subtle"] {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

div[data-button-variant="subtle"]:hover {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}